.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* ----------------Navbar--------------- */
.con {
  position: relative;
  width: 100%;
  height: 5rem;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 1) 100%, rgba(0, 212, 255, 1) 100%);
}

.header::after {
  content: '';
  display: block;
  clear: both;
}

.header h1 {
  float: left;
  margin-left: 2rem;
  margin-top: .5rem;
  /* align: center; */
}

.header .items {
  float: right;
  margin-top: 0.5rem;
}

.header ul li {
  list-style: none;
  display: inline-block;
  padding: 0vh 2vw;
  font-size: 1.5em;
  font-weight: 500;
}

/* --------------card------------ */
.banner-card {
  width: 100vw;
  margin-top: 0rem;
  margin-bottom: 3vh;
  position: relative;
  height: 90vh;
  color: white;
}

.banner-img {
  margin-top: 2vh;
  height: 100%;
  object-fit: cover;
}

.banner-title {
  position: absolute;
  top: 48vh;
  left: 5vw;

}

.banner-text {
  display: inline-block;
  width: 50%;
  position: absolute;
  top: 55vh;
  left: 5vw;
  overflow: hidden;
}



/* ----------------utility classess------------- */
.spacing {
  letter-spacing: 0.2px;
}

.text {
  color: rgb(76, 56, 133);
}

.text-white {
  color: white;
}